@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }
  
  body {
    @apply bg-primary text-slate-50;
  }
}

@layer utilities {
  .gradient-text {
    background: linear-gradient(to right, #14b8a6, #f59e0b, #3b82f6);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #040205;
}

::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background-color: #281943;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2F1D4E;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}
